{% extends '/plataformas/includes/header_ecommerce.html' %}


{% block body %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" style="color: whitesmoke;">Ecommerce</a>
    </div>
    <a href="/Index">
    <button style="background-color: transparent;border: transparent;">
        <i class="fa-solid fa-arrow-right-from-bracket fa-2xl" style="color: #95a7c6;"></i>
    </button>
    </a>

</nav>




    


<div class="container p-5">
    <div class="row">

        <div class="col-md-4">

            <div class="card card-body">
                {% with messages=get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                
                <div class="alert alert-danger" role="alert" 
                style="background: #8920cf; color: white;width: 260px; height: 50px;">
                    {{ messages.0 }}
                </div>
                    
                    
                {% endfor %}
                {% endif %}
                {% endwith %}

                <form action="/Index_Ecommerce">
                    <p id="pb">Pedidos Completados</p>

                    <div class="collapse m-2" id="collapseExample" >
                        <div class="card card-body row" >
                            <input type="text" name="Pedido" class="form-control" 
                            placeholder="Pedido" autofocus>
                            <button type="button" class="btn btn-success">

                                <i class="fa-solid fa-magnifying-glass fa-xl" style="color: #cfcfcf;"></i>
                            </button>
                            
                        </div>
                        
                    </div>



                
                        <input type="submit" class="btn btn-sucess btn-block" style="background-color:#848484 ;" value=" Regresar">
                    
                    
                </form>

            </div>

        </div>

        <div class="col-md-8" id="caja_tablita">
                <table class="table table-bordered" width="50%" id="tablita">
                    <thead id="thead">
                    <tr style="width: 150px;">
                        <th >ID Pedido </th>
                        <th>Fecha</th>
                        <th>Metodo Entrega</th>
                        <th>Id Cliente</th>
                        <th></th>
                        
                    </tr>
                    </thead>

                    <tbody>
                        {% for pedido in pedidos %}
                        <tr id="cliente">
                            <td NOWRAP>
                                <a class="btn btn"  data-bs-toggle="collapse" href="#{{ pedido.0 }}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    {{ pedido.0 }}
                                </a>
                            <td NOWRAP>{{ pedido.1 }}</td>
                            <td NOWRAP>{{ pedido.2 }}</td>
                            <td NOWRAP>{{ pedido.3 }}</td>
                            <td NOWRAP>{{ pedido.4 }}</td>
                            
                        </tr>
                        <tr id="titulo_productos">
                            <td>Modelo</td>
                            <td>Descripcion</td>
                            <td>Talla</td>
                            <td>Color</td>
                            <td>Cantidad</td>
                            
                        </tr>
                        
                            {% for producto in productos %}
                            {% if pedido.0 == producto.0 %}
                            
                            <tr style="font-size: small;" id="productos">

    
                            <td>
                            <div class="collapse" id="{{ pedido.0 }}"> 
                               {{ producto.1 }}
                            </div>
                            </td>

                            <td>
                            <div class="collapse" id="{{ pedido.0 }}"> 
                               {{ producto.2 }}
                            </div>
                            </td>

                            <td>
                            <div class="collapse" id="{{ pedido.0 }}"> 
                               {{ producto.3 }}
                            </div>
                            </td>

                            <td>
                            <div class="collapse" id="{{ pedido.0 }}"> 
                               {{ producto.4 }}
                            </div>
                            </td>

                            <td>
                            <div class="collapse" id="{{ pedido.0 }}"> 
                               {{ producto.5 }}
                            </div>
                            </td>
                            <td></td>
                        </tr>

                        {% endif %}
                        {% endfor %}

                       
                      
                        {% endfor %}
                        
                    </tbody>


                </table>
        </div>
    </div>
</div>




{% endblock %}