{% extends '/plataformas/includes/header_producto.html' %}


{% block body %}
<nav class="navbar navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" style="color: whitesmoke;">Inventario</a>
    </div>
    <a href="/Index">
    <button style="background-color: transparent;border: transparent;">
        <i class="fa-solid fa-arrow-right-from-bracket fa-2xl" style="color: #95a7c6;"></i>
    </button>
    </a>

</nav>




    


<div class="container p-5">
    <div class="row">

        <div class="col-md-4">

            <div class="card card-body">
                {% with messages=get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                
                <div class="alert alert-danger" role="alert" 
                style="background: #8920cf; color: white;width: 260px; height: 50px;">
                    {{ messages.0 }}
                </div>
                    
                    
                {% endfor %}
                {% endif %}
                {% endwith %}

                <form action="/add_producto" method="POST">

                    <div class="form-group">
                        <input type="text" name="modelo" class="form-control" 
                        placeholder="Modelo" autofocus>
                    </div>

                    <div class="form-group">
                        <input type="text" name="marca" class="form-control" 
                        placeholder="Marca" autofocus>
                    </div>

                    <div class="form-group">
                        <input type="text" name="descripcion" class="form-control" 
                        placeholder="Descripcion" autofocus>

                    </div>

                    <div class="form-group">
                        <input type="text" name="talla" class="form-control"value="" maxlength="10" 
                        onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                        placeholder="Talla" autofocus>
                    </div>


                    <div class="form-group">
                        <input type="text" name="color" class="form-control" 
                        placeholder="Color" autofocus>
                    </div>


                    <div class="form-group">
                        <input type="text" name="precio" class="form-control"value="" maxlength="10" 
                        onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                        placeholder="Precio" autofocus>
                    </div>

                    <div class="form-group">
                        <input type="text" name="cantidad" class="form-control"value="" maxlength="10" 
                        onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                        placeholder="Cantidad" autofocus>
                    </div>

                    <div class="form-group">
                        <input type="text" name="categoria" class="form-control" 
                        placeholder="Categoria" autofocus>
                    </div>

                    <input type="submit" class="btn btn-sucess btn-block" style="background-color:#47f85b ;" value="Guardar producto">

                </form>
                

                <form action="/update_cant" style="padding-top: 20px;" method="POST">
                    <div class="form-group">
                        <input type="text" name="codigo" class="form-control" 
                        placeholder="Codigo" autofocus>
                    </div>

                    <div class="form-group">
                        <input type="text" name="cantidad" class="form-control"value="" maxlength="10" 
                        onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
                        placeholder="Cantidad" autofocus>
                    </div>

                
                        <input type="submit" class="btn btn-sucess btn-block" style="background-color:#0dfff7 ;" value="Actualizar inventario">
                    
                    
                </form>

            </div>

        </div>

        <div class="col-md-8" >
                <table class="table table-bordered" width="50%">
                    <thead>
                    <tr style="width: 150px;">
                        <th >Modelo </th>
                        <th>Marca</th>
                        <th>Descripcion</th>
                        <th>Talla</th>
                        <th>Color </th>
                        <th>Precio</th>
                        <th>Cantidad</th>
                        <th>Categoria</th>
                    </tr>
                    </thead>

                    <tbody>
                        {% for producto in productos %}
                        <tr>
                            <td NOWRAP>{{ producto.1 }}</td>
                            <td NOWRAP>{{ producto.2 }}</td>
                            <td NOWRAP>{{ producto.3 }}</td>
                            <td NOWRAP>{{ producto.4 }}</td>
                            <td NOWRAP>{{ producto.5 }}</td>
                            <td NOWRAP>$ {{ producto.6 }}</td>
                            <td NOWRAP>{{ producto.7 }}</td>
                            <td NOWRAP>{{ producto.8 }}</td>
                            <td NOWRAP>
                                <a href="/edit_producto/{{ producto.0}}">
                                    <i class="fa-solid fa-pen-to-square fa-2xl" style="color: #690fc2;"></i>
                                </a>
                                <a href="/delete_producto/{{ producto.0 }}">
                                    <i class="fa-solid fa-trash fa-2xl" style="color: #ff0059;"></i>
                                </a>
                            </td>
                            
                        </tr>
                      
                        {% endfor %}
                    </tbody>


                </table>
        </div>
    </div>
</div>


{% endblock %}