{% extends '/plataformas/includes/header_carrito.html' %}


{% block body %}



    <div class="collapse" id="navbarToggleExternalContent">
        <div class="bg-dark p-4">
            <ul class="nav nav-pills nav-fill">
                <li class="nav-item">
                  <a class="nav-link" href="/Producto_Inicio/{{ pedido }}" style="color: #fee528;"><strong>Inicio</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/perfil/{{ pedido }}"" style="color: #fee528;"><strong>Perfil</strong></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/salir/{{ pedido }}" style="color: #fee528;"><strong>Salir</strong></a>
                </li>
              </ul>
        </div>
    </div>
    
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" 
        aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>

    </nav>


<div class="datos">
    <img src="https://cdn-icons-png.flaticon.com/512/5987/5987424.png" alt="" width="150px" height="150px">
    <form action="/datos_cliente" class="datos_form" method="POST">
        
        <div class="info card card-body">
            <table class="tabla_cliente" width="100%">
                <thead>
                    <div class="form-h">
                    <h4>Informacion Socio</h4>
                </div>
                </thead>
                <tr>
                    <th>Nombres</th>
                    <th>Apellido Paterno</th>
                    <th>Apellido Materno</th>
                </tr>

                <tr>
                    <td>{{ cliente.1 }}</td>
                    <td>{{ cliente.2 }}</td>
                    <td>{{ cliente.3 }}</td>
                </tr>
                <tr>
                    <th>Domicilio</th>
                    <th>Ciudad</th>
                    <th>Estado</th>
                </tr>
                <tr>
                    <td>{{ cliente.4 }}</td>
                    <td>{{ cliente.5 }}</td>
                    <td>{{ cliente.6 }}</td>
                </tr>
                <tr>
                    <th>Telefono</th>
                    <td>{{ cliente.7 }}</td>
                </tr>
            </table>

        </div>
    </form>

</div>

<div class="envio">
    <div class=" formu col-md-10 p-2">

        <div class="card card-body">
          

            <form action="/finalizar_pedido/{{ pedido }}/ {{ total }}/{{ cliente.0 }}" method="POST">

              
                <div class="form-group">
                    <select class="form-select" aria-label="Default select example"
                    name="entrega" id="entrega" name="entrega">
                        <option   >Metodo de entrega</option>
                        <option value="En_tienda" >Servicio en tienda
                            
                        </option>
                        <option value="Recoger" >Recoger en tienda</option>
                        <option value="Domicilio" >A domicilio</option>
                      </select>
                </div>

                <div class="form-group">
                    <input type="date"  min="current_date" name="fecha" required pattern="\d{4}-\d{2}-\d{2}""> Fecha Entrega
                    <script>
                    date = new Date();
                    year = date.getFullYear();
                    month = date.getMonth() + 1;
                    day = date.getDate();
                    document.getElementById("current_date").innerHTML = month + "/" + day + "/" + year;
                    </script>
                    
                </div>
                

                <div class="form-group">
                    <select class="form-select" aria-label="Default select example" name="pago" >
                        <option >Metodo Pago</option>
                        <option value="Efectivo">Efectivo</option>
                        <option value="Debito">Tarjeta Debito</option>
                        <option value="Credito">Tarjeta Credito</option>
                        <option value="Saldo">Saldo a Favor</option>
                      </select>
                </div> 



                </div>

                <button type="submit" class="btn btn-success m-2" style="width: 250px;" >Finalizar Compra</button>

            </form>
            


        </div>
</div>

<div class="carrito">
    <div class="cuadro2_b">
           
        <table class="table table-bordered-striped width="50%">
            <thead class="thead-dark"> 
            <tr style="width: 150px;">
                <th >Id_Producto</th>
                <th>Modelo</th>
                <th>Descripcion</th>
                <th>Talla</th>
                <th>Color </th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Importe</th>
                <th>
                    <button type="button" class="btn btn-outline-danger" data-toggle="modal" data-target="#exampleModal2">
                    Vaciar Carrito
                    </button>
                </th>
            </tr>
            </thead>

            <tbody">
                {% for producto in productos %}
                
                <tr>
                    <td NOWRAP>{{ producto.0 }}</td>
                    <td NOWRAP>{{ producto.1 }}</td>
                    <td NOWRAP>{{ producto.3 }}</td>
                    <td NOWRAP>{{ producto.4 }}</td>
                    <td NOWRAP>{{ producto.5 }}</td>
                    <td NOWRAP >$ {{ producto.6 }}</td>
                     
                            <td NOWRAP> 
                                <div class=" selec_cant">
                                    <form action="/edit_cant/{{ producto.0 }}/{{ pedido }}" method="POST">
                                    <select name="unidades" id="">
                                        <option value="">{{ producto.10}}</option>
                                        <option value="1" name="unidades"> 1</option>
                                        <option value="2" name="unidades">2</option>
                                        <option value="3" name="unidades">3</option>
                                        <option value="4" name="unidades">4</option>
                                        <option value="5" name="unidades">5</option>
                                        <option value="6" name="unidades">6</option>
                                        <option value="7" name="unidades">7</option>
                                        <option value="8" name="unidades">8</option>
                                        <option value="9" name="unidades">9</option>
                                        <option value="10" name="unidades">+9</option>
                                    </select>
                                    <button type="submit"style="border-color:transparent;"> 
                                        <i class="fa-solid fa-rotate-right fa-l" style="color: #3090c0;"></i>
                                    </button>
                                   </form>
                                </div>
                          
                                
                                    
                                
                                
                            </td>
                            
                            <td NOWRAP >$ {{ producto.11 }}</td>
                    
                    <td NOWRAP>
                        <i class="fa-solid fa-square-minus fa-xl" style="color: #ff0040;" data-toggle="modal" data-target="#exampleModal"></i>
                          
                    </td>
                    
                </tr>
                
                
              <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Eliminar del Carrito</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        <i class="fa-solid fa-circle-exclamation fa-xl" style="color: #ff9500;"></i>
                        Este producto se eliminara del carrito
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                        <a href="/delete_producto_pedido/{{ producto.0 }}/{{ pedido }}">
                        <button type="button" class="btn btn-danger">Aceptar</button>
                        </a>
                        </div>
                    </div>
                    </div>
                </div>


                {% endfor %}

                <tr style="position: relative;" class="borderless">
                    <td NOWRAP name="totalP class="col-md-8""
                    style="background-color: #235ec3;border-radius: 2px; color: white;"
                    >Total Piezas</td>
                    <td NOWRAP></td>
                    <td NOWRAP></td>
                    <td NOWRAP></td>
                    <td NOWRAP></td>
                    <td NOWRAP>
                    </a>
                    </td>
                    <td NOWRAP 
                    style="background-color: #8e8e8e;border-radius: 0%; color: white;"
                    >{{ cant }}</td>
                </tr>

                <tr style="position: relative;" >
                    <td NOWRAP 
                    style="background-color: #235ec3;border-radius: 2px; color: white;">
                    Total a pagar</td>
                    <td NOWRAP ></td>
                    <td NOWRAP></td>
                    <td NOWRAP></td>
                    <td NOWRAP></td>
                    <td NOWRAP></td>
                    <td NOWRAP></td>
                    <td NOWRAP
                    style="background-color: #8e8e8e;border-radius: 0%; color: white;"> ${{ total }}</td>
                    <td NOWRAP
                    style="background-color: #8e8e8e;border-radius: 0%; color: white;"></td>
                </tr>
                
            </tbody>
            
          
            

        </table>
        
    </div>
</div>



 <!-- Modal -->
 <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Eliminar del Carrito</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
        <i class="fa-solid fa-circle-exclamation fa-xl" style="color: #ff004c;"></i>
        <i class="fa-solid fa-square-exclamation fa-beat fa-2xl" style="color: #ff0040;"></i>
        ¿Esta seguro de vaciar el carrito?
        </div>
        <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <a href="/vaciar_carrito/{{ pedido }}">
        <button type="button" class="btn btn-danger">
            Aceptar</button>
        </a>
        </div>
    </div>
    </div>
</div>

{% endblock %}